.about {
    background: #eee;
    padding: 2rem 0;
}

.about .text {
    width: 55%;
    font-size: 1.6rem;
    text-align: justify;

    margin: 0 auto;
}

.text p {
    margin-bottom: 1rem;
}

.text a {
    color: blue
}

@media screen and (max-width: 992px) {
    .about .text {
        width: 85%;
        font-size: 1.6rem;
        text-align: justify;

        margin: 0 auto;
    }
}