.footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(32, 6, 71);
    color: white;
}

.icons {
    display: inline-flex;
    gap: 20rem;
    font-size: 3rem;
    margin: 2rem 0;
}

.contact-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-action p {
    font-size: 1.2rem;
}

.contact-action a {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.copyright {
    font-size: 1.6rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 425px) {
    .icons {
        gap: 10rem
    }
}