.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    background-color: #7e0b0b;
    color:white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.titre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre h1 {
    color: #fff;
    font-size: 4rem;
    display: block;
}

.titre h2{
    font-size: 2rem;

}

.image {
    border-radius: 50%;
    overflow: hidden;
}

.image img {
    display: block;
    width: 100%;
}

@media screen and (max-width:992px) {
    .header{
        flex-direction: column;
        align-items: center;

    }

    .logo {
        margin-bottom: 1rem;
    }
}