.button {
    display: flex;

    justify-content: center;
    margin-top: 1rem;
}

.button button {
    padding: 1rem 1.5rem;
    background: #10be58;

    border: none;
    color: white;
    font-size: 16px;

    border-radius: 5px;

    cursor: pointer;

    transition: transform .2s ease;
}

.button button:hover {
    transform: translateY(-2px);
}

.button button:active {
    transform: translateY(1px);
}