.input{
display: flex;

margin-bottom: 3rem;
}

.input label{
flex-basis: 40%;
display: inline-flex;
gap: 1px;
}

.input input{
    flex-basis: 50%;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
}

.input input:focus{
    outline: none;
}