.errorWrapper{
display: flex;
align-items: baseline;
gap: 5px;

border-radius: 5px;
background-color: #e64f35ce;
color: white;
padding: .5rem;

margin-bottom: 1rem;
}

.errorWrapper span{
    display: block;
}