.container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    /* 
    border: 1px solid black; */
}

.project-title {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    font-size: 3.5rem;
}

.image img {
    display: block;
    object-fit: cover;
}


.project-content {
    padding: 1rem 3rem;
}

.project-content h3 {
    font-size: 25px;
}

.actions {
    width: 85%;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.link {
    display: inline-block;
}

.link a {
    background: coral;

    padding: 2rem 3rem;
    border-radius: 100px;

    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
}

.write-comment,
.read-comment {
    color: white;
    padding: 2rem 3rem;
    border-radius: 100px;
    background: coral;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
}