
.header {
    font-size: 1rem;

    border-bottom: 3px solid black;
    margin-bottom: 1rem;
}

.header:not(:first-of-type) {
    padding-top: 1rem;
}

.projets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

@media screen and (max-width: 625px) {
    .projets {
justify-content: center;
    }
}